
.html
{
	background-color: #f0cf9d;
}

#page
{
	z-index: 1;
	width: 1140px;
	min-height: 1201px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: 100px;
	margin-right: 100px;
}

#page_position_content
{
	padding-top: 3px;
	width: 0.01px;
}

#pu1263
{
	width: 0.01px;
}

#u1263
{
	z-index: 2;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#menuu7886
{
	z-index: 47;
	width: 831px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 236px;
}

#u7901
{
	width: 206px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7902
{
	width: 205px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7904-4
{
	width: 205px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7902:hover #u7904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7894
{
	width: 206px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u7895
{
	width: 205px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7895.MuseMenuActive
{
	background-color: #774482;
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u7896-4
{
	width: 205px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 0px;
}

#u7902.MuseMenuActive #u7904-4,#u7895:hover #u7896-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7908
{
	width: 206px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#u7909
{
	width: 205px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7902:hover,#u7909:hover
{
	background-color: #E67AFF;
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u7912-4
{
	width: 205px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7895.MuseMenuActive #u7896-4,#u7909:hover #u7912-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7909.MuseMenuActive #u7912-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u7887
{
	width: 207px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u7888
{
	width: 206px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #774482;
	padding-bottom: 28px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u7888:hover
{
	background-color: #E67AFF;
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u7891-4
{
	width: 206px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u7888:hover #u7891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 206px;
	margin: 0px -10000px 0px 0px;
}

#u7888.MuseMenuActive #u7891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 206px;
	margin: 0px -10000px 0px 0px;
}

#u7904-2,#u7896-2,#u7912-2,#u7891-2
{
	padding-top: 4px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u7885
{
	z-index: 46;
	width: 25px;
	height: 25px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 1095px;
	background: #774482 url("../images/facebook.png") no-repeat center center;
}

#u7885:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
	background: #3B5998 url("../images/facebook.png") no-repeat center center;
}

#u7885.MuseLinkActive
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
	background: #3B5998 url("../images/facebook.png") no-repeat center center;
}

#u1259
{
	z-index: 4;
	width: 1029px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin: 100px;
	margin: 100px;
	position: relative;
	padding: 51px 35px 35.14999999999941px 36px;
}

#ppu1319-4
{
	width: 0.01px;
	margin-left: 1px;
}

#u1319-4
{
	z-index: 6;
	width: 271px;
	min-height: 25px;
	background-color: transparent;
	color: #2F5979;
	text-align: left;
	line-height: 42px;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u1324-7
{
	z-index: 18;
	width: 712px;
	min-height: 116px;
	background-color: transparent;
	text-align: justify;
	margin: 100px;
	position: relative;
}

#u1327
{
	z-index: 43;
	width: 305px;
	height: 212px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 723px;
	background: transparent url("../images/12.jpg") no-repeat center center;
	background-size: cover;
}

#ppu1394-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 105px;
}

#pu1319-4,#pu1394-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1394-4
{
	z-index: 10;
	width: 159px;
	min-height: 25px;
	background-color: transparent;
	color: #2F5979;
	text-align: left;
	line-height: 42px;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u1393-6
{
	z-index: 25;
	width: 712px;
	min-height: 116px;
	background-color: transparent;
	text-align: justify;
	margin-top: 12px;
	position: relative;
}

#u1322
{
	z-index: 44;
	width: 305px;
	height: 212px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 723px;
	background: transparent url("../images/22.jpg") no-repeat center center;
	background-size: cover;
}

#u1396-4
{
	z-index: 14;
	width: 215px;
	min-height: 25px;
	background-color: transparent;
	color: #2F5979;
	text-align: left;
	line-height: 42px;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 72px;
	position: relative;
}

#pu1395-12
{
	width: 0.01px;
	margin-top: 19px;
}

#u1395-12
{
	z-index: 31;
	width: 712px;
	min-height: 116px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#u1321
{
	z-index: 45;
	width: 305px;
	height: 212px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 723px;
	background: transparent url("../images/41.jpg") no-repeat center center;
	background-size: cover;
}

#u1372
{
	z-index: 5;
	width: 980px;
	height: 1px;
	border-color: #000000;
	background-color: #E5E5E5;
	margin-left: 24px;
	margin-top: 36px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1140px;
}

#page .verticalspacer
{
	clear: both;
}